div {
    display: inline-block;
    width: 100%;
    background-color: red;

}
img {
    display:inline-flex;    
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.id {
    font-size: small;

}
.title {
    font-size: large;


}
.content {
    font-size: medium;

}
